/******************************/
/*Style de la partie Anecdotes*/
/******************************/

@import url('general.css');

.anecdote {
    margin-bottom: 50px;
}

.anecdote-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 40px 50px 40px 50px;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 15px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: var(--radiusImg);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Pour l'affichage du hover*/
    position: relative;
    height: 200px;
}

.card-image img {
    width: 200px;
    height: 200px;
    border-radius: var(--radiusImg);
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: var(--radiusImg);
    opacity: 0;
    transition: 0.1s;
}

.card-text:hover {
    opacity: 1;
}

.card-text p {
    margin: 0 20px;
    color: var(--white);
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 5px;
}

/*SWIPER*/
* {
    /*Important pour Swiper*/
    box-sizing: border-box;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: var(--yellow);
    width: 10px;
    height: 10px;
}

.slider-wrapper .swiper-button {
    color: var(--yellow);
}

/*******************/
/*Responsive design*/
/*******************/

@media only screen and (max-width: 450px) {

    .slider-wrapper {
        margin: 20px 20px 40px 20px;
    }

    .slider-wrapper .swiper-button {
        display: none;
    }
}