/******************************/
/*Style de la partie Anecdotes*/
/******************************/

@import url('general.css');

.anecdote {
    margin-bottom: 50px;
}

/*CSS Cartes*/

.anecdote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    border: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 15px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card-content {
    position: relative;
    height: 240px;
}

.card-image {
    height: 240px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    opacity: 0;
    transition: 0.1s;
}

.card-text:hover {
    opacity: 1;
}

.card-text p {
    margin: 0 25px;
    color: var(--white);
    text-align: center;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 10px;
    text-align: center;
}

/*CSS Swiper*/

/*******************/
/*Responsive design*/
/*******************/