/**********************/
/*Style de la bannière*/
/**********************/

@import url('general.css');

.banner {
    position: relative;
    background: url("../img/banner.jpg") no-repeat center;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    text-shadow: 2px 2px 2px #3b3b3b;
}

.text-banner h1 {
    margin: 0;
    margin-bottom: 10px;
}

.text-banner h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}

/*******************/
/*Responsive design*/
/*******************/

/*Laptops (petits écrans)*/
@media only screen and (max-width: 1024px) {

    .banner {
        background-size: 200%;
    }

}

/*Tablettes et smartphones*/
@media only screen and (max-width: 768px) {

    .banner {
        height: 200px;
    }

}

/*Smartphones*/
@media only screen and (max-width: 480px) {

    .banner {
        background-size: 300%;
    }

}