/***************************/
/*Style général du site web*/
/***************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: "Roboto", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Lilita+One&display=swap');
/*font-family: "Lilita One", sans-serif;*/

/*Variables globales*/
:root {
    --white: #f2f2f2;
    --black: #111111;
    --yellow: #ce7b00;
    --lightYellow: rgba(255, 230, 0, 0.3);
    --brown: rgb(126, 67, 0);
    --radiusImg: 2px;
}

* {
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

h1 {
    font-size: 3rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

h4 {
    font-family: "Lilita One", sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#section-history,
#section-anecdote,
#section-gastronomy {
    scroll-margin-top: 70px;
}

/*******************/
/*Responsive design*/
/*******************/

/*Tablettes et smartphones*/
@media only screen and (max-width: 768px) {

    h1 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.2rem;
    }

}