/*********************************/
/*Style de la barre de navigation*/
/*********************************/

@import url('general.css');

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px 8px 120px;
    background-color: var(--white);
    /*Permet de mettre la navbar au premier plan*/
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo h3 {
    margin: 0;
    margin-left: 10px;
    font-family: "Lilita One", sans-serif;
    font-weight: 500;
    color: var(--black);
    font-size: 1.4rem;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-links a {
    display: block;
    padding: 16px 16px;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-links .nav-cta-button {
    padding: 10px 22px;
    margin-left: 15px;
    border: 2px solid var(--brown);
    border-radius: var(--radiusImg);
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.hamburger .bar {
    flex-basis: 100%;
    height: 4px;
    background-color: var(--black);
    margin: 3px;
}

/*******************/
/*Responsive design*/
/*******************/

/*Grands écrans (avec souris)*/
@media only screen and (min-width: 1025px) {

    /*Pour l'animation*/
    .nav-links .nav-cta-button {
        position: relative;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    /*Pour l'animation*/
    .nav-cta-button span {
        /*Pour mettre le texte au premier plan*/
        position: relative;
        z-index: 1;
    }

    /*Pour l'animation*/
    .nav-cta-button::before {
        content: "";
        position: absolute;
        background-color: var(--yellow);
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: width .5s, height 0.5s;
        /*Pour centrer l'animation*/
        left: var(--xPos);
        top: var(--yPos);
        transform: translate(-50%, -50%);
    }

    /*Pour l'animation*/
    .nav-cta-button:hover::before {
        width: 200px;
        height: 200px;
    }

}

/*Laptops (petits écrans)*/
@media only screen and (max-width: 1024px) {

    nav {
        padding: 8px 50px 8px 50px;
    }

}

/*Grandes tablettes et écrans larges*/
@media only screen and (min-width: 769px) {

    .nav-links .nav-cta-button {
        background-color: var(--lightYellow);
    }

}

/*Tablettes et smartphones*/
@media only screen and (max-width: 768px) {

    nav {
        flex-wrap: wrap;
    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        padding: 0;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        text-align: center;
        font-size: 1.2rem;
    }

    .nav-links .nav-cta-button {
        border: none;
        margin: 0;
    }

}

/*Smartphones*/
@media only screen and (max-width: 480px) {

    nav {
        padding: 8px 14px 8px 14px;
    }

}