/***************************/
/*Style de la page Histoire*/
/***************************/

@import url('general.css');

/*Section Histoire*/
.history {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.history-container {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
}

.history-img {
    overflow: hidden;
}

.history-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-text {
    display: flex;
    align-items: center;
}

.history-story p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/*******************/
/*Responsive design*/
/*******************/

/*Tablettes et smartphones*/
@media (max-width: 768px) {

    .history-container {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}